<table class="min-w-full border-collapse border border-gray-300 ">
  <thead>
    <tr class="bg-gray-100">
      <th class="border border-gray-300 px-4 py-2 text-left">ID</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Nombre</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Descripción</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Precio</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Categoria</th>
    </tr>
  </thead>
  <tbody>
    @for (item of values(); track item.id) {
      <tr class="hover:bg-gray-50">
        <td class="border border-gray-300 px-4 py-2">{{ item.id }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ item.nombre }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ item.descripcion }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ item.precio }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ item.category_id }}</td>
      </tr>
    }
  </tbody>
</table>